/* ---------- CSS ----------*/
html {
  font-size: 62, 5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: normal;
  color: #868a8a;
  font-size: 1.4rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  font-family: "Stratos Deliveroo Web", sans-serif;
  font-weight: bold;
  font-size: 3.2rem;
  color: #2e3333;
}

/* Header */
header {
  border-bottom: solid 1px #e9ebeb;
  padding: 1rem 0;
}

.header-logo {
  width: 150px;
}

.presentation-img {
  width: 30%;
  object-fit: cover;
}

.meal-section {
  background-color: #f3f5f5;
}
